@model WebApplication1.ViewModels.ProductViewModel
@{
    ViewBag.Title = "ThankYouCreateProduct";
}

<h2>Thank you for creating a product @Model.Name</h2>

@Html.ActionLink("Back to list", "IndexAsync", "Products")